.toggleContainer {
	@apply absolute top-6 right-6;
}

.toggle {
	@apply hidden;
}

.toggle + .label {
	@apply flex items-center cursor-pointer text-2xl;

	&::before {
		@apply content-[''] h-6 w-12 rounded-xl mr-1 transition-colors duration-300;
		background-color: var(--toggle-bg);
	}
	&::after {
		@apply content-[''] h-5 w-5 rounded-xl absolute left-1 transition-colors transition-transform duration-300 ;
		background-color: var(--toggle-fg);
	}
}

.toggle:checked +.label {
	&::after {
		transform: translateX(100%);

	}
}