.App {
	@apply flex min-h-screen flex-col;
	color: var(--foreground-rgb);
	background-color: var(--background);
	transition: background-color 0.4s ease-in-out
}
.main {
	@apply  p-5 text-center
}
.button {
	@apply py-3 px-5 bg-orange-600 rounded-md mb-5 w-80
}
.card {
	@apply p-4 text-center shadow-xl rounded-sm;
	background: var(--background-card);
}
.img {
	width: 100%;
	height: auto;
}