@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: theme("colors.slate.900");
	--background: theme("colors.slate.100");
	--background-card: theme("colors.slate.300");
	--toggle-bg: #f0eb9d;
	--toggle-fg: #ffd000;
}

[theme="dark"] {
	--foreground-rgb: theme("colors.slate.200");
	--background: theme("colors.slate.700");
	--background-card: theme("colors.slate.600");
	--toggle-bg: #3452fc;
	--toggle-fg: #0429fb;
}

html {
	
}
